/*
droplicious v.1.0
Copyright @2009 http://headfirstproductions.ca
Darren Terhune
Created May 21, 2009
*/

/* Just some page layout - you don't need this stuff */
html{overflow:scroll;}
body{background:#252525;margin:0;padding:0;font-family:"Helvetica Neue",Verdana,sans-serif;background-color:#EEE;text-shadow:white 1px 1px 0px;color:#777;}
a img,img{border:none;}
.header{font-size:30px;text-align:center;}
.header h1{color:#555;text-shadow:white 2px 2px 0px;}
.header p{margin:0 30px 10px 30px;font-size:20px;}
p{margin:0 10px;}
h1{margin-bottom:0;}
.left{float:left;}
.right{float:right;}
.navbar{margin-top:30px;}
.content{background:#ddd;font-size:14px;}
.container{background:#eee;width:790px;margin:0 auto;}
.inner{padding:30px;}
.clearfix:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0;}
.clearfix{display:inline-block;}
html[xmlns] .clearfix{display:block;}

/* Droplicous code, change to your liking */
#nav ul.licious{
	text-align:left;
	width:150px;
	font-size:.8em;
	background:#444;
	margin:0;
	padding:0;
	position:absolute;
	left:0px;
	top:28px;
	opacity:.97;
	filter:alpha(opacity=97);
}

/* ie bs */
html>body #nav ul.licious{
	position:absolute;	
	top:18px;
}
#nav ul.licious a:hover{
	position:relative;
	color:#0A82D0;
	background:none;
}
#nav ul.licious a{
	position:relative;
	z-index:999;
	font-weight:normal;
	margin:0;
	padding:5px 0 5px 10px;
	background:none;
	color:white;
	display:block;
}
#nav li a:hover{
	color:#0A82D0;
}
#nav li a{
	font-weight:bold;
	text-decoration:none;
	color:white;
	padding:10px 10px 0 10px;
	background:#373737;
	text-shadow:none;
}
#nav{
	position:relative;
	width:820px;
	list-style:none;
	margin:0 auto;
	padding:0;
	list-style:none;
	font-size:1em;
}
#nav li{
 	position:relative;
 	display:inline;
	margin:0;
	padding:0;
}